@import url(https://fonts.bunny.net/css?family=albert-sans:400|athiti:400|be-vietnam-pro:400);

@font-face {
  font-family: "SF Pro Text";
  src: url("https://raw.githubusercontent.com/sahibjotsaggu/San-Francisco-Pro-Fonts/master/SF-Pro-Text-Regular.otf");
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Rounded";
  src: url("https://raw.githubusercontent.com/sahibjotsaggu/San-Francisco-Pro-Fonts/master/SF-Pro-Rounded-Regular.otf");
  font-style: normal;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

::-webkit-scrollbar {
  display: none;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  z-index: 0;
}

html,
body {
  background-color: #000;
  color: antiquewhite;
  -webkit-font-smoothing: antialiased;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  user-select: none;
  user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
  -ms-user-drag: none;
}

#nav {
  background: #12121290;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  width: 97%;
  height: 3.3em;
  position: fixed;
  left: 1.5%;
  top: 0.75rem;
  border-radius: 2em;
  font-family: "Albert Sans", sans-serif;
  z-index: 1;
  border: 0.5px solid #333232;
}

#nav img {
  width: 105px;
  height: 108px;
  float: left;
  position: relative;
  left: 1.2rem;
  bottom: 1.81rem;
  cursor: pointer;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  opacity: 50%;
  transition: 300ms opacity;
}

#nav img:hover {
  opacity: 100;
}

#nav nav {
  float: right;
  position: relative;
  right: 0.7rem;
  top: 0.8rem;
}

#nav nav a {
  padding: 0px 0.7rem;
  cursor: pointer;
  color: #999;
  transition: ease-out 0.37s;
  transform: translateY(0);
  will-change: transform;
  display: inline-block;
}

#nav nav a:hover {
  color: #fff;
  transform: translateY(-0.3rem);
  transition: ease-out 0.375s;
}

#greeting {
  width: 100%;
  height: 71.5vh;
  background: linear-gradient(188deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(56, 56, 56, 1) 100%);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-size: 210% 215%;
  animation: gradient 10s ease infinite;
  margin-top: 4.6rem;
  font-family: "Be Vietnam Pro", sans-serif;
  display: flexbox;
  overflow: hidden;
  position: sticky;
  top: 4.6rem;
}

#greeting_header {
  text-align: center;
  position: relative;
  width: 100%;
  top: 35%;
}

#greeting_header h1 {
  font-size: 5em;
}

#greeting_header h4 {
  justify-content: center;
  font-size: 1.5em;
  font-weight: 200;
}

#cards {
  /* width: 98.63%*/
  width: 100%;
  height: 82.75vh;
  display: flex;
  flex-direction: row;
  gap: 30px;
  /* padding-top: 10px;*/
  /* position: relative; */
  /* top: 10px; */
  /* background: #36363650; */
  background: linear-gradient(0deg, #0c0c0c50 0%, #36363650 100%);
  backdrop-filter: blur(20px);
}

@media only screen and not (max-width: 1850px) {
  #cards {
    width: 100%;
    height: 81.3vh;
  }
}

#GitHub {
  min-width: 200px;
  position: relative;
  background: linear-gradient(0deg, #003566 0%, #001233 100%);
  backdrop-filter: blur(10px);
  overflow: hidden;
  left: 10px;
  height: 79.5vh;
  /* width: 45%; */
  position: relative;
  top: 10px;
}

#Replit {
  min-width: 200px;
  background-color: azure;
  background: linear-gradient(180deg, #823e20 0%, #fb8500 100%);
  backdrop-filter: blur(10px);
  top: 10px;
  overflow: hidden;
  position: relative;
  right: 10px;
  height: 79.5vh;
}

#GitHub,
#Replit {
  text-align: center;
  justify-content: center;
  width: 50%;
}

#GitHub h1,
#Replit h1 {
  font-size: 3.8em;
  font-family: "SF Pro Text", sans-serif;
  padding-top: 0.25em;
}

#GitHub h4,
#Replit h4 {
  padding-top: 0.25em;
  font-family: "SF Pro Rounded", serif;
  font-weight: 200;
  font-size: 1.5em;
}

#cards2 {
  width: 100%;
  text-align: center;
  /* position: relative; */
  /* top: 10px; */
  /* margin-top: 10px; */
  height: 60vh;
  background: linear-gradient(175deg, rgba(118, 200, 19, 1) 0%, rgba(0, 75, 35, 1) 100%);
  overflow: hidden;
}

#GameSite_Card {
  position: relative;
  top: 0.4em;
}

#cards2 #GameSite_Card h1 {
  font-size: 3.8em;
  font-family: "SF Pro Text", sans-serif;
  padding-top: 0.1em;
}

#cards2 #GameSite_Card h4 {
  padding-top: 0.25em;
  font-family: "SF Pro Rounded", serif;
  font-weight: 200;
  font-size: 1.5em;
}

#imgContainrr {
  padding-top: 2.7em;
}